<h3>Repos Template</h3>
<h3>Facebook</h3>

<ul>
<li>React - {{link-to 'Issues' 'org.repo.issues' 'react'}} - {{link-to 'Contributors' 'org.repo.contributors' 'react'}}</li>
<li>{{link-to 'Watchman' 'org.repo.issues' 'watchman'}}</li>
<li>{{link-to 'Relay' 'org.repo.issues' 'relay'}}</li>
</ul>

{{outlet}}
